<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/css/quoranan.css">
<title>Quora Anwe Analyzer -- Quoranan</title>
<script src="/static/js/masonry.min.js"></script>
<script type="text/javascript">
	window.onload = function() {
		var wall = new Masonry(document.getElementById('container'), {
			columnWidth : 400
		});
	};
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38569166-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
	<h1>Quoranan</h1>
	<div>Welcome to Quoranan -- the Quora Answer Analysis tool.</div>
	<div>
		<strong>Warning:</strong>This is just a plaything. It doesn't come
		with any support. It's an experiment. Tested on one machine (Mac), one
		browser (Chrome) and 2 accounts. It's also purely personal.
	</div>
	<div>Quoranan is a simple tool that allows you to analyze your
		answers on Quora.</div>
	<div>It's not automated, and requires that you download the
		answers yourself. The steps are:</div>
	<div class="container">
		<div class="item">
			<h3>1. Go to your answers page (i.e.
				http://www.quora.com/&lt;User&gt;/answers).</h3>
			<a href="/static/img/screenshot_top_glow.jpg"><img width="350"
				src="/static/img/screenshot_top_glow.jpg"></a>
		</div>
		<div class="item">
			<h3>2. Click on "more" until all your articles are shown.</h3>
			<a href="/static/img/screenshot_bottom_glow.jpg"><img width="350"
				src="/static/img/screenshot_bottom_glow.jpg"></a>
		</div>
		<div class="item">
			<h3>3. Save the results to your computer as html.</h3>
			<a href="/static/img/screenshot_save_glow.jpg"><img width="350"
				src="/static/img/screenshot_save_glow.jpg"></a><p/>
			<a href="/static/img/complete.png"><img width="350"
				src="/static/img/complete.png"></a>
		</div>
		<div class="item">
			<h3>4. Upload the html file you saved in the box below.</h3>
			<p />
			<div>We then produce a list of all the questions you've
				answered, sorted by topic and with total number of votes. You can
				post this into a blog post on Quora, or anywhere else, e.g. a web
				page.</div>
			<div>We don't store the data, we just give it back to you as
				html for easy pasting into other things.</div>
			<div class="form">

				<form action="/analyze" method="post" enctype="multipart/form-data">
					Saved html from answers page: <br /> <input type="file"
						name="answers"><br /> <input type="submit" value="Submit">
				</form>

			</div>
		</div>
	</div>
</body>
</html>